body {
  margin: 0;
}

main {
  margin: 0 auto;
  padding: 24px 0;
  max-width: 1128px;
}

ul.gallery {
  margin: 0;
  padding: 0;
  list-style: none;

  gap: 24px;
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 1 1 calc(100% / 3 - 24px);
}

.gallery-link {
  display: block;
}

.gallery-image {
  max-width: 100%;
}
